@tailwind base;
@tailwind components;
@tailwind utilities;


#wavy-bg {
  background-image: url('../../public/Wave.svg');
  /* background-size: cover;
  background-repeat: no-repeat; */
  width: 98.8vw;
}